.login{
    width: 500px;
    height: 320px;
    margin-top: 200px;
    margin-left: 550px;
    background-color: rgb(66, 61, 61);
    border-radius: 15px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
.heading1{
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
}
.name{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
.email{
    margin-left: 25px;
    margin-right: 25px;
}
.login1{
    width: 500px;
    height: 300px;
    margin-top: 100px;
    margin-left: 550px;
    text-align: center;
    line-height:40px;
}
.p{
    font-size: 120px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}